/* App.css */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.shadow-lg-custom {
  box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.4); /* Ombre plus sombre et plus grande */
}



